PROJECT_NAME=VHF Agent 0511
HOST=0.0.0.0
PORT=8000

VHF_DATA_DIR=/root/autodl-tmp/vhf-agent-0511/data
VHF_DEFAULT_CHANNEL_ID=beilun_vhf_01

VHF_ASR_MODEL=iic/SenseVoiceSmall
VHF_ASR_VAD_MODEL=fsmn-vad
VHF_ASR_PUNC_MODEL=
VHF_ASR_DEVICE=cuda:0
VHF_ASR_HUB=ms
VHF_ASR_LANGUAGE=auto
VHF_ASR_BATCH_SIZE_S=30
VHF_ASR_USE_ITN=1

VHF_VAD_FRAME_MS=30
VHF_VAD_SILENCE_MS=900
VHF_VAD_MIN_SPEECH_MS=600
VHF_VAD_MAX_SEGMENT_MS=8000

VHF_DENOISE_FILTER_CHAIN=highpass=f=120,lowpass=f=3800,afftdn=nf=-25
