VHF_DATA_DIR=data
VHF_DEFAULT_CHANNEL_ID=vhf_demo_01
VHF_VAD_FRAME_MS=30
VHF_VAD_SILENCE_MS=900
VHF_VAD_MIN_SPEECH_MS=600
VHF_ASR_MODEL=iic/SenseVoiceSmall
VHF_ASR_VAD_MODEL=fsmn-vad
VHF_ASR_PUNC_MODEL=
VHF_ASR_DEVICE=cuda:0
VHF_ASR_HUB=ms
VHF_ASR_BATCH_SIZE_S=30
VHF_ASR_MODEL_REVISION=
VHF_ASR_LANGUAGE=auto
VHF_ASR_USE_ITN=1
VHF_ASR_VAD_MAX_SINGLE_SEGMENT_TIME=30000
VHF_FORCE_FULL_FILE_TRANSCRIBE=0
VHF_STREAM_SIMULATION_SPEED=8.0
VHF_STREAMING_MODEL=paraformer-zh-streaming
VHF_STREAMING_CHUNK_SIZE=0,10,5
VHF_STREAMING_ENCODER_CHUNK_LOOK_BACK=4
VHF_STREAMING_DECODER_CHUNK_LOOK_BACK=1
VHF_DENOISE_FILTER_CHAIN=highpass=f=120,lowpass=f=3800,afftdn=nf=-25
